.App {
    text-align: center;
}

.app-wrap {
    display: grid;
    max-width: 1000px;
    grid-template-areas:
        "f m"
    ;
    grid-template-columns: 3fr 9fr;
    padding: 0 5px;
    margin: 0 auto;
}

.filter-wrap {
    background-color: #fff;
    grid-area: f;
    padding: 10px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

input {
    outline: none;
}